* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

nav {
  background: #eb6c8e;
  height: 80px;
  width: 100%;
}

label.logo {
  color: white;
  font-size: 30px;
  line-height: 80px;
  padding: 0 60px;
  font-weight: bold;
}
nav ul {
  float: right;
  margin-right: 30px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,
a:hover {
  background: #293039;
  transition: 0.5s;
}
.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
@media (max-width: 650px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #293039;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: none;
    color: #293039;
  }
  #check:checked ~ ul {
    left: 0;
  }
}

body {
  font-family: "Raleway", sans-serif;
}

#banner {
  width: 100%;
}
.banner {
  background-color: #eb6c8e;
}

#dados {
  background: #293039;
  padding: 50px;
}

.texto {
  background-color: #293039;
  margin: 0%;
}

.titulo-centralizado {
  color: white;
}

p {
  color: white;
}

a {
  color: white;
}

.itens {
  font-style: italic;
}

#iniciativas {
  background-color: #eb6c8e;
  padding: 50px;
}

ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
  color: white;
}

.motivos2 {
  width: 80%;
  margin-left: 110px;
}

.representatividade {
  background-color: white;
  padding: 70px;
}
