* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f9dbbd;
    font-family: 'Noto Sans JP', sans-serif;
}

.section{
    padding-top: 50px;
    color: darkslategray;
    text-align: center;
}

a{
    text-decoration: none;
}

.containerHeader{
    padding: 75px;
    width: 100%;
    height: 40vh;
    color: #e7e7e6;
    background-image: url(../img/backgroundGeovannaDomingos.jpeg);
    background-size: cover;
    background-position: center;
    text-align: center;
}

.tituloHeader{
    color: #fff;
    font-size: 36px;
}

.descricaoHeader{
    color: #fff;
    padding: 10px;
}


.conteudoSobreMim{
    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: center;
}

.descricaoSobreMim{
    width: 450px;
    text-align: start;
}

.imagemSobreMim{
    width: 270px;
    padding-left: 40px;
    border-radius: 50%;
}

.sectionMeusHobbies{
    background-color: antiquewhite;
    width: 100%;
    height: 50vh;
}

.divListaHobbies{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}

.listaHobbies{
    list-style:none;
}

.itemLista{
    padding-top: 6px;
}

.sectionMinhasRedesSociais{
    width: 100%;
    height: 60vh;
    text-align: center;
}

.redesSociais{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.elemetoRedesSociais{
    margin: 35px;
    padding: 10px;
    width: 150px;
    height: 150px;
    background-color: rgb(155, 101, 155);
    border-radius: 5px;
}

.redesSociais img{
    width: 100px;
    height: 100px;
}

.redesSociais a{
    color: white;
}

.rodape {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: white;
}

.rodape-span {
    font-size: 1.1rem;
}

.rodape-span:hover {
    font-size: 1.3rem;
    color: #7E459B;
}

