*{
  background-color: rgb(196, 241, 245);
  
}

.titulo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 300%;
    text-align: center;
}

.imagem {

    width: 30%;
    height: 30%;
    padding-right: 3%;
    margin-left: 33%;

}

.titulo_descricao {
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 220%;
    text-align: center;
    column-width: 50%;

}

.titulo-lista {
    font-size: 140%;
}
.curiosidade {
    font-size: 140%;
    columns: 2;
    text-align: justify;  
}

.coluna {
    columns: 2;
}

.music {
    font-size: 140%;
}

.musicas, a{ 
    font-size: 120%;
    color: blue; 
    width: 40%;
    line-height: 28px;
    text-align: justify;  
}

.movies {
    font-size: 140%;
    columns: 2;
    padding-top: 11%;
    margin: 3%;
}

.filmes, a{ 
    font-size: 120%;
    color: blue;  
    width: 40%;
    line-height: 28px;
    text-align: justify; 
}