    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: sans-serif;
        font-size: 14px;
    }
    
    body {
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin: 0 auto;
        background-color: rgb(240, 215, 236);
    }
    
    .navegacao {
        display: flex;
        color: white;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 2rem;
        position: fixed;
        width: 100%;
        background-color: rgb(53, 29, 48);
    }
    
    .navegacao__lista {
        display: flex;
    }
    
    nav a {
        text-decoration: none;
        color: aliceblue;
    }
    
    header {
        width: 100%;
        display: flex;
        justify-content: center;
        color: aquamarine;
        text-align: center;
        background: linear-gradient(rgba(153, 86, 138, .40), rgba(153, 86, 138, .40)150%), url('/alunas/juliane/img/Imagens\ de\ fundo.jpg');
        background-size: cover;
        background-position: bottom center;
    }
    
    .cabecalho {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 auto;
        width: 100%;
        height: auto;
    }
    
    .img_juliane {
        width: 80%;
        border-radius: 50%;
        opacity: 0.7;
        border: 2px solid white;
        height: 266.53px;
    }
    
    .cabecalho_img {
        width: 30%;
        height: 300px;
        min-height: 250px;
        min-width: 200px;
    }
    
    h1,
    h2,
    h3 {
        padding: 1rem;
    }
    
    h1 {
        color: rgba(201, 22, 126, 0.822);
        font-size: 35px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    
    h2 {
        color: bisque;
        font-size: 30px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    h3 {
        color: rgb(212, 182, 243);
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    main {
        width: 100%;
    }
    
    .section_sobremim {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }
    
    .sobre_mim {
        display: flex;
        flex-wrap: wrap;
        line-height: 2;
        color: rgb(44, 30, 12);
        align-items: center;
    }
    
    .sobre_mim h1 {
        text-align: center;
        opacity: 0.7;
    }
    
    .sobre_mim img {
        width: 30%;
        min-width: 260px;
        text-align: center;
    }
    
    .sobre_mim p,
    #trajetoria p {
        width: 60%;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: center;
        font-size: 20px;
        margin: 0 auto;
        justify-content: center;
    }
    
    #trajetoria p {
        width: 70%;
        color: rgb(50, 71, 26);
        line-height: 1.7;
        font-size: 1.5rem;
    }
    
    #trajetoria h2 {
        color: rgb(168, 130, 73);
        padding-bottom: 3rem;
    }
    
    #trajetoria {
        height: auto;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .mais_sobre_mim {
        padding: 4rem 15%;
        text-align: center;
        display: flex;
        flex-direction: column;
        color: aliceblue;
        margin: 0 auto;
    }
    
    .mais_sobre_mim h2 {
        color: gray;
        padding-bottom: 3rem;
        opacity: 0.7;
    }
    
    .sonhos_gostos {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .sonhos_gostos h2,
    .sonhos_gostos h3,
    .sonhos_gostos li,
    .sonhos_gostos a {
        color: white;
    }
    
    .sonhos,
    .musicas,
    .comidas {
        display: inline-block;
        width: 33%;
        height: 300px;
        border-radius: 20%;
        margin: 0 auto;
        border: 3px solid rgb(248, 244, 245);
        min-width: 250px;
    }
    
    .sonhos {
        background: linear-gradient(rgba(39, 23, 36, 0.7), rgba(56, 32, 51, 0.7)60%), url(/alunas/juliane/img/Sonhos.jpg);
        background-size: cover;
    }
    
    .musicas {
        background: linear-gradient(rgba(39, 23, 36, 0.7), rgba(56, 32, 51, 0.7)60%), url(/alunas/juliane/img/musicas.jpg);
        background-size: cover;
    }
    
    .comidas {
        background: linear-gradient(rgba(39, 23, 36, 0.7), rgba(56, 32, 51, 0.7)60%), url(/alunas/juliane/img/comidas.jpg);
        background-size: cover;
    }
    
    li {
        padding: 5px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: aliceblue;
        font-size: 1.1rem;
        list-style: none;
        text-align: justify;
        line-height: 1.3;
    }
    
    li:not(:last-child) {
        margin-bottom: 5px;
    }
    
    .mais_sobre_mim li::before {
        content: "\2764";
        color: rgb(255, 255, 255);
        margin-right: 20px;
    }
    
    .form {
        text-align: center;
    }
    
    form {
        display: inline-block;
        text-align: center;
        width: 50%;
        background: rgba(255, 136, 209, 0.562);
        border: 2px solid rosybrown;
        border-radius: 30%;
        margin-bottom: 3rem;
        color: rgb(192, 69, 151);
        padding: 4rem 1rem 1rem 2rem;
    }
    
    form h1 {
        font-size: 1.4rem;
        margin: 0 1rem;
    }
    
    form img {
        width: 20%;
        padding: 1rem;
    }
    
    label {
        font-size: 1.2rem;
    }
    
    input {
        border-radius: 20%;
        border: 2px solid rgb(192, 69, 151);
        margin-bottom: 1rem;
        width: 50%;
        height: 25px;
    }
    
    .preferencia {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .opcao_preferencia {
        display: flex;
        width: 50%;
        justify-content: center;
        padding-top: 1rem;
    }
    
    #whatsapp,
    #email1 {
        width: 4rem;
    }
    
    .text-area {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    
    textarea {
        height: 5rem;
        width: 60%;
        border-radius: 10%;
        border: 2px solid rgb(192, 69, 151);
        margin: 1rem 0 1rem 0;
        min-width: 200px;
    }
    
    .button {
        text-align: center;
        width: 100%;
    }
    
    button {
        color: aliceblue;
        width: 10rem - 60px;
        border-radius: 10%;
        border: none;
        transition-duration: 0.4s;
        width: 30%;
        padding: 1rem 2rem;
        margin: 1px;
    }
    
    .green {
        background: rgb(118, 128, 118);
    }
    
    .red {
        background: rgb(203, 204, 155);
    }
    
    .green:hover {
        background: green;
    }
    
    .red:hover {
        background: red;
    }
    
    button:hover {
        color: black;
    }
    
    footer {
        margin: 0 auto;
        width: 100%;
        background-color: rgb(66, 17, 59);
        text-align: center;
    }
    
    footer h2 {
        color: rgba(202, 120, 159, 0.692);
        font-size: 25px;
        padding-top: 2rem;
        padding-bottom: 1rem;
    }
    
    .redes_sociais {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .redes_sociais_img {
        display: flex;
        flex-wrap: wrap;
    }
    
    .redes-sociais__link {
        padding: 2rem;
    }
    
    .footer__copyright {
        color: aliceblue;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding: 1rem;
    }
    
    @media screen and (max-width: 920px) {
        nav {
            display: none;
        }
        .cabecalho {
            flex-direction: column-reverse;
            background-color: rgb(66, 17, 59);
        }
        .cabecalho_saudacao {
            width: 60%;
            margin-top: 6rem;
        }
        .cabecalho_img {
            width: 200px;
            height: 200px;
            margin-bottom: 2rem;
        }
        h1 {
            font-size: 1.7rem;
        }
        .sobre_mim p {
            font-size: 1.2rem;
        }
        #trajetoria p {
            font-size: 1.2rem;
        }
        .cabecalho_saudacao h2 {
            font-size: 1.5rem;
            padding: 0;
        }
        .cabecalho_saudacao h3 {
            font-size: 1rem;
            padding: 1rem 0;
        }
        form {
            width: 70%;
        }
        .formCampos {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        input {
            width: 70%;
        }
        .button {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    
    @media screen and (max-width: 718px) {
        .sobre_mim {
            flex-direction: column;
        }
        .sonhos,
        .musicas,
        .comidas {
            width: 70%;
            margin-bottom: 2rem;
        }
        label {
            font-size: 1rem;
        }
        .redes_sociais h2 {
            font-size: 1.5rem;
            width: 80%;
        }
    }
    
    @media screen and (max-width: 504px) {
        .redes_sociais_img {
            display: flex;
            flex-direction: column;
        }
        button {
            width: 70%;
            margin: 0.2rem 2rem;
        }
        form {
            width: 80%;
        }
    }
    
    @media screen and (min-width: 921px) {
        header {
            height: 70vh;
        }
    }