body {
    margin: 0;
    padding: 0%;
    border: 0;
    background-color: #f4f4f4;
    font-family: "IBM Plex Sans";
    font-size: 150%;
    line-height: 1.25em;
}

a {
    text-decoration: none;
} 

.conteiner {
    max-width: 1000px;
    margin: 0 auto;
}
