* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    margin: 0 ;
  }
  
  html {
    height: 100%;
  }

  h1 {

    color: transparent;
    font-size: 0%;
    
  }

  h3 {

    text-align: center;
    font-size: 32px;
    background-color: #EB4FD2;
    margin: 10px;
  }
  .image-sidebar{
      margin-bottom: 0px;
  }
  a{
    text-decoration: none;
  }
  
  .caixa-header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: url('../img/capa-bg-padumaciel.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #f2a2c4;
    height: 80vh;
  }
  
  .btn-branco{
    background-color: #F08514;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 15px;
    width: 180px;
    border-radius: 80px;
  }
.efeito{ 
    border: none;
    color: white;
    width: 150px;
    font-size: 20px;
    line-height: 30px;
    border-radius: 80px;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 400ms ease;

}
.efeito-1{
    background: #5D00AF;
    color: white;
}
.efeito-1:hover{
    background: #f2a2c4
}
/*====== SECAO DE CONTEUDO ======*/

h2 {
    font-size: 32px;
    background-color: #5D00AF;
    color: #f2a2c4;
    width: 675px;
    text-align: center;
    padding: 5px;
    margin: 0px 0px;

}
.caixa-secao-conteudo{
margin-top: 40px;
display: flex;
flex-direction: column;
justify-content: center;
}
.sobre-mim-sidebar{
    text-align: center;
    font-weight: bold;
}
.classe-somente-conteudo{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}
.btn-roxo{
    padding: 15px;
    width: 190px;
    border-radius: 80px;
    color: white;
}
.caixa-sidebar{
    margin-bottom: 50px;
    padding: 25px;
    border-radius: 10px;
    background-color: #F08514;
    width: 300px;
    color: white;
}
.caixa-sobre-mim{
    width: 50%;
}
.caixa-texto-sobre-mim{
    margin-bottom: 40px;
    display: flex;
    align-items: initial;
}
.caixa-lista-sobre-mim{
    width: 20%;
    margin-left: 60px;
    color: #770d77;
}
.caixa-lista-sobre-mim-2{
    width: 20%;
    margin-left: 10px;
    color: #770d77;
}

.container {
    height: 25px;
    background-color: #FFFFFF;
    border-radius: 13px;
    position: relative;
}
.container .progress-bar{
   position: absolute;
   height: 100%;
   background-color: #f2a2c4;
   margin-bottom: 5px;
   border-radius: 13px;
   width: 100%;
}

.container-50 {
    height: 25px;
    background-color: #FFFFFF;
    border-radius: 13px;
    position: relative;
}
.container-50 .progress-bar-50{
   position: absolute;
   height: 100%;
   background-color: #f2a2c4;
   margin-bottom: 5px;
   border-radius: 13px;
   width: 50%;
}

.skills {
    text-align: center;
    font-weight: bold;
}

/* ==== redes sociais ==== */

.caixa-item-rede-social{
    text-align: center;
    background-color: #770d77;
    width: 180px;
    height: 180px;
    margin-right: 40px;
    padding: 20px;
    margin-top: 50px;
}
.lista-habilidades{
    color: white;
}
.caixa-mae-rede-social{
    display: flex;
    justify-content: center;
}
.link-rede-social{
    color: white;
}
footer{
    text-align: center;
    color: white;
    background-color: #5D00AF;
    padding: 50px;
    margin-top: 25px;
}