
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 10px;
  }

  body{
    background-color: rgb(133, 82, 113);
    color: rgb(255, 255, 255);
    font-family: 'Quicksand', sans-serif;
   
  }

  .navegacao{
    background-color: rgb(133, 82, 113);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;

    
    
  }

  .navegacao > img{
    width: 40px;

  }

  .navegacao__lista{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 50%;
   
      
  }

  a {
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-size: 1.6rem;
  }

  .imagemMenu{
    display: none;

  }

  header{
    background-image: url(../img/banner-bg-2.png);
    background-size: auto;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
    /*background-color: rgb(226, 252, 208);*/
    text-align: center;
    align-items: center;
    padding-top: 60px;
    
}

  .titulo {
    text-align: center;
    font-size: 3.6rem;
    padding-bottom: 20px;
    
  }

  .cabecalho__conteudo{
    display: flex;
    /*text-align: left;*/
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
     
  }
  
 .cabecalho__titulo {
    text-align: center;
    font-size: 4rem;
    color: rgb(133, 82, 113);
    
  }
  
  .subtitulo{
    background-color: rgb(133, 82, 113);
    padding: 0 10px;
    border-radius: 10px;
    font-size: 1.6rem;
  }
  
  img{
      width: 200px;
     }
     
 .conteudo__sobremim, b{
      text-align: center;
      margin:auto;
      padding: 40px;
      font-size: 1.6rem;
     
  }


 .conteudo__sobremim p{
    font-size: 18px;
    /*text-align: center;*/
    line-height: 1.2;
    padding-top: 10px;
    width: 80%;
    margin: 0 auto;
 

  }

  .listas {
    background-color: rgb(250, 240, 227);
    color: rgb(133, 82, 113);
    font-size: 2.0rem;
    text-align: left;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    

  }

  li{
    font-size: 1.6rem;
  }
  
  h3{
    font-size: 2.0rem;
  }

  .contato {
    text-align: center;
    margin:auto;
    padding:  30px 10px;
  }

  .contato > p{
    font-size: 1.8rem;
    line-height: 1.2;
    width: 80%;
    margin: 0 auto;
  }

  .redessociais{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1080px;
    margin: 0px auto;
    margin-block-end: 20px;
    flex-wrap: wrap;

  }

  /*.display-flex{
    align-items: center;
    margin: 0 10px;
    border: red solid;*/
  

.instagram{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    width: 29vh;
    height: 100%;
    background-color: rgb(250, 240, 227);
    padding: 15px;
    border-radius: 10px;
    margin: 10px;

    
}
  
.skoob{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    width: 29vh;
    height: 100%;
    background-color: rgb(250, 240, 227);
    padding: 15px;
    border-radius: 10px;
    margin: 10px;

}

.logo{
    width: 40px;
    
}

.link{
    text-decoration: none;
    color:  rgb(133, 82, 113);
    font-size: 1.6rem;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    padding-left: 10px;

}



.formulario{
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.formulario > div{
  padding: 10px;
}

label{
  font-size: 1.6rem;
}

.rotulo_block{
  display: block;
}

textarea{
  max-width:300px;
  width: 100%;
  height: 100px;
  border-radius: 10px;
}

.botao{
  background-color: rgb(250, 240, 227);
  color: rgb(133, 82, 113);
  padding: 5px;
  border-radius: 10px;
  border: 1px solid transparent;
  cursor: pointer;
  min-width: 150px;
  font-size: 1.6rem;
  

}

.rodape__paragrafo {
  background-color: rgb(250, 240, 227);
  text-align: center;
  color: rgb(133, 82, 113);
  margin-bottom: 30px;
  font-size: 1.6rem;
}

@media screen (max-width:650px){

  *{
    font-size: 8px;
  }

  .navegacao__lista{
    display: none;
  }

  .imagemMenu{
    display: block;
  }


  .listas {
  justify-content: center;
  }

  .redessociais{
  justify-content: center;
  }

  .rodape__paragrafo{
    font-size: 6px;
  }





}


 


