body	{
  color: #333333;
  font-family: "Lucida	Sans	Unicode";
}
h1	{
      background-image:	url(../img/sobre-background.jpg);
}
h2	{
      border-bottom: 2px	solid	#333333;
}
.familia {
  background-color: black;
}

figure	{
  background-color: #F2EDED;
  border: 1px	solid	#ccc;
  text-align:	center;
}
figcaption	{
  font-style:	italic;
  }
  h1	{
      padding: 10px;
}
h2	{
      margin-top: 30px;
}
p	{
      padding: 0 45px;
      text-indent: 15px;
}
figure	{
      padding: 15px;
      margin: 30px;
}
figcaption	{
      margin-top: 10px;
}
