/* formas de valores para cor: 
   1 - nome da cor em inglês;
   2 - hexadecimal #000000 - preto #ffffff -branco 
   3 - rgb() - rgb(0,0,0) - preto rgb(255,255,255) - branco  
   */


/* especificidade: 
  id #
  classes . 
  elementos:
    header > p
    tags da filha pra mae 
    p
    body
    * - seletor universal - reset da página
*/


/* atalhos 
alt + cima ou baixo - movimenta a linha

*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px;
}

body {
    background-color: #f9dbbd;
    color: darkslategray;
    font-family: 'Noto Sans JP', sans-serif;
}

p {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
}

main a {
  color: #333;
}

a:hover , button:hover {
  font-weight: bold;
  cursor: pointer;
}
li {
  font-size: 1.6rem;
}

ul > li {
  list-style: none;
 
}

header {
    background-image: url(../img/praia-roxa.jpg);
    background-size: contain;
    width: 100%;
    height: 40vh;
    background-color: #fff;
    text-align: center;
}

label {
  font-size: 1.6rem;
}

textarea {
  max-width: 300px;
  width: 100%;
  height: 200px;
  border-radius: 10px;
}

button {
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  min-width: 150px;
  font-size: 1.6rem;

}

footer {
  height: 40px;
  background-color: #333;
  color: #fff;
  text-align: center;
}

.navegacao {
  background-color: #7e459b;
  padding-left: 50px ;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 75px;
  position: fixed;
  
}

.navegacao__lista {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.titulo {
  text-align: center;
  font-size: 3.6rem;
  padding: 10px;
}

.titulo--secundario {
  font-size: 2.4rem;
}

.cabecalho__titulo, .navegacao{
  color: #fff;
}

.cabecalho__conteudo {
    padding: 7.5rem;
}

.section {
  padding: 5rem;
}

.artigo__sobreMim{
  display: flex;
  padding: 3rem;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.conteudo__sobreMim {
    width: 450px;
}

.listaMusicas {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.listaMusicas__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}

.listaMusicas__item > img {
  max-width: 250px;
  width: 100%;
}

.displaySection {
    margin: 0 20%;
}

.exemploDisplay {
    width: 75px;
    height: 75px;
    color: #fff;
    margin: 5px 5px 0 0;
}

.inlineBlock {
    display: inline-flex;
    ;
}

.inline {
    display: inline;
}

.block {
  display: block;
}n

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}
.green{
  background-color: green;
}

.formulario {
  text-align: center;
  padding: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

}

.formulario > div {
  padding: 2rem;
}

.rotulo--block {
  display: block;
  padding-bottom: 1rem;
}

/* tamanho de tela até 650px faça isso - do computador > pro celular */
@media (max-width: 650px) {
  * {
    font-size: 8px;
  }

  .listaMusicas {
    justify-content: center;
  }

  .formulario {
    padding: 10%;
  }
}




/* tamanho de tela com no minimo 650 px faça isso - do celular > pro computador */
@media (min-width: 650px) {

}