.content{
    margin-left: 5%;
    margin-right: 5%;
}

#menu-mobile{
    padding: 12px;
}
    #rodape, #menu, #sobre-autora{
        display: none;
    }

    #menu-mobile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgb(191, 217, 218);
        padding: 2rem;
    }
    #menu-mobile a{

        margin: 12px;
    }
    header h1 {
        font-size: 10px;
        text-align: center;
    }

    header p {
        font-size: 10px;
        text-align: center;
    }

    #conteudo, #menu, header{
        flex-direction: column ;
    }
    
    .conteudo-img{
        margin-top: 12px;
        margin-top: 12px;
    }

    #conteudo-center p {
        font-size: 13px;
    }

    #conteudo .conteudo-text-mobile{
        margin-left: 20px;  
    }

    .conteudo-text h3{
        text-align:center ;
        margin-top: 12px;
    }

    .conteudo-text-center{

        display: flex;
    justify-content: center;
    align-items: center;
    }

