*{
    margin:0%;
}

header {
    display: flex;
    flex-direction: row;
    background-color: #4B39B5;
    background-size: contain;
    width: 100%;
    height: 40vh;
    justify-content: center;
    align-items: center;
}

header h1{
    font-family: 'Syne Mono', monospace;
    color: rgb(240, 233, 233);
}

header p{
    font-family: 'Syne Mono', monospace;
    color: rgb(240, 233, 233);
    font-size:15px


}
#menu{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(191, 217, 218);
}
#menu a{
    margin: 20px;
    padding-left: 5px;
    font-size: 15px;
    border-radius: 15px;
  
    border-style:solid;
        border-width: 1px;
   
    padding: 16px;
    color:rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    
}


#menu a:link, a:visited, a:active {
    text-decoration: none;

    }
#menu a:hover { 
    text-decoration: none; 
    background-color:#030405; 
    color:#fff;
    border-color: #030405;
 }


.topo a{
    position:fixed;
    font-family: 'Syne Mono', monospace;
    right:40px;
    bottom: 0;
    padding: 12px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-decoration: none;
    color:rgb(0, 0, 0);

}
.topo a:link, a:visited, a:active {
    text-decoration: none;
    }
.topo a:hover { 
    text-decoration: none; 
    background-color:#111213; 
    color: #fff;
 }


#conteudo{
    align-items:center;
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin-top: 15px;
    font-size: 16px;
    margin: 0;
    width: 100%;
    height: 353px;
}

.conteudo-text{
    width: 600px;
    margin-left: 20px;
    
}
.conteudo-text h3{
    padding-bottom: 20px;
}
.conteudo-text p{
    font-family: 'Open Sans', sans-serif;
    color:#000;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-right: 25px
}

#conteudo-center{
    align-items:center;
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin-top: 15px;
    font-size: 16px;
    margin: 0;
    width: 100%;
    height: 270px;
}

#conteudo-center p{
    font-family: 'Fira Sans', sans-serif;
    font-size: 50px;
}

.conteudo-text-center{
    width: 600px;
    margin-left: 20px;
    
}

#rodape{

    display: flex;
    flex-direction: row;
    background-color: #4B39B5;
    background-size: contain;
    width: 100%;
    height: 40vh;
    justify-content: center;
    align-items: center;
    margin-top:15px;
    padding-bottom: 15px;
}

#rodape p{
    margin-top: 5px;
    margin-bottom: 10px;
}
#rodape a{
    text-decoration: none;
    color:#fff;
}





#rodape img{
    width: 286px;
    height: 224px;
}


#rodape h1{
    font-family: 'Syne Mono', monospace;
    color: rgb(240, 233, 233);
}

#rodape p{
    font-family: 'Syne Mono', monospace;
    color: rgb(240, 233, 233);
    font-size:15px
}

#rodape .foto{
    
    padding-right: 39px;
}

#rodape .link-rede{
    padding-top: 35px;
    text-align: center;
}

#rodape .link-rede a{
  
    margin-left: 25px;
    border-radius: 16px;
    margin: 20px;
    padding-left: 5px;
    border-radius: 15px;
    border-style:solid;
    border-width: 1px;
    padding: 16px;
    color:#000;
    text-decoration: none;
 
}

#rodape .link-rede a:link, a:visited, a:active {
    text-decoration: none;
    }
 #rodape .link-rede a:hover { 
    text-decoration: none; 
   
    color:rgb(219, 212, 212);
    border-color: rgb(219, 212, 212);
}


    #sobre-autora{
        align-items:center;
        display: flex;
        flex-direction: row;
        justify-content:center;
        font-size: 16px;
        margin: 0;
        width: 100%;
        height: 280px;
        
    }

    #sobre-autora .borde{
        
        display: flex;
        justify-content: space-between;
        border-radius: 10px;
        padding: 15px ;
        border-style:solid;
        border-width: 1px;
        border-color: rgb(63, 53, 2);
    }
    #sobre-autora img{
        width: 200px;
        height: 200px;
        border-radius: 90%;
        justify-items: center;
    }

    .sobre-autora h3{
        padding-bottom: 20px;
    }
    .sobre-autora p{
        font-family: 'Open Sans', sans-serif;
        color:#000;
        padding-top: 8px;
        padding-bottom: 8px;
        margin-right: 25px
    }